<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Rocket Cards
  </a>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'My Account', user_path(current_user), class: "nav-link #{'active' if current_page?(user_path(current_user)) || current_page?(edit_user_path(current_user))}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Cards', cards_path, class: "nav-link #{'active' if controller_name == 'cards'}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Users', users_path, class: "nav-link #{'active' if current_page?(users_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
  </li>  
</ul>
</nav>
